<br>
Каталог: <br>

{% for product in products %}
<h2><a href="?c=product&a=card&id={{ product.id }}">{{ product.name }}</a></h2>
<p>{{ product.description }}</p>
<p>Цена: {{ product.price }}</p>
{% endfor %}

<br>
<a href="?c=product&a=catalog&page={{ page }}>">Ещё</a>